@media(max-width:768px){
    #tabMenu{
        display:none;
    }

    .accordion{
        display:block;
    }

    .slider-wrapper{
        background-size: cover;
        background-position: center;
        height: 300px;
    }
}
.image-preview {
    width: 100%;
    aspect-ratio: 1 / 1;  /* Perfect square */
    overflow: hidden;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
